<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__ADM__/css/font.css">
    <link rel="stylesheet" href="__ADM__/css/xadmin.css">
    <script src="__ADM__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__ADM__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__ADM__/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <style>
        .layui-form-item .layui-input-inline {
            float: left;
            width: 367px;
            margin-right: 10px;
        }
    </style>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <form class="layui-form" >
        <input type="hidden" name="id" value="{$navedit.id??0}" id="id">
        <div class="layui-form-item">
            <label for="sd" class="layui-form-label">
                <span class="x-red" id="sd">*</span>一级分类
            </label>
            <div class="layui-input-inline">
                <select class="valid one" name="one" lay-filter="one">
                    <option value="0">一级分类</option>
                    <volist name='navs_data' id='v'>
                    <option value="{$v.id}" <notempty name="navedit"> <if condition="$navedit['group_id_1'] == $v['id']">selected</if> </notempty> >{$v.title}</option>
                    </volist>
                </select>

            </div>
        </div>
        <div class="layui-form-item">
            <label for="sd" class="layui-form-label">
                <span class="x-red">*</span>二级分类
            </label>
            <div class="layui-input-inline">
                <select class="select two" name="two" lay-filter="two">
                    <option value="0">二级分类</option>

                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="sd" class="layui-form-label">
                <span class="x-red">*</span>三级分类
            </label>
            <div class="layui-input-inline">
                <select class="select three" name="three">
                    <option value="0">三级分类</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_title" class="layui-form-label">
                <span class="x-red">*</span>分类名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_title" name="title" required lay-verify="title" autocomplete="off" class="layui-input"  value="{$navedit.title ?? ''}" placeholder="分类名称">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>


        <div class="layui-form-item">
            <label for="L_url" class="layui-form-label">
                <span class="x-red">*</span>URL
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_url" name="url" required lay-verify="title" autocomplete="no" class="layui-input"  value="{$navedit.url ?? ''}" placeholder="URL 提示：三，四级分类才有URL">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" lay-submit="" id="L_repass">
                添加
            </button>
        </div>
    </form>
</div>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form
            ,layer = layui.layer;


        var id = $('#id').val();
        if (id > 0) {
            var group_id_1 = {$navedit.group_id_1};
            var group_id_2 = {$navedit.group_id_2};
            var group_id_3 = {$navedit.group_id_3};
            f(group_id_1,'two',group_id_2);
            f(group_id_2,'three',group_id_3);
        }


        //监听事件变化.....
        form.on('select(one)', function(data){
            var id = data.value;
            if (id  > 0){
                f(id,'two','');
            }
        });
        form.on('select(two)', function(data){
            var id = data.value;
            if (id  > 0){
                f(id,'three','');
            }
        });

        function f(id,se,fs) {
            $.post("/admin/navs/getTypes",{id:id,fs:fs},function (msg) {
                if (msg.status == 1){
                    $('.'+se).html(msg.data);
                }

                form.render();
            });
        }



        //监听提交
        form.on('submit(add)', function(data){
            console.log(data);
            //发异步，把数据提交给php

            $.post("/admin/navs/addedit",{data:data.field},function (msg) {
                if (msg.status == 1) {
                    layer.alert(msg.msg, {icon: 6}, function () {
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }else{
                    layer.alert(msg.msg);
                }

            });


            return false;
        });

    });



</script>
</body>

</html>