{extend name="public/header" /}
{block name="content"}
<link rel="stylesheet" href="__IND__/css/gongsi.css">
<link rel="stylesheet" href="__IND__/css/quiGou.css">
{include file="public/top" /}
<div class="zhuTi">
    <div class="zhuTiTop">
        <a href="#"><img src="__IND__/images/guanggao_03.jpg" ></a>
    </div>
    <div class="zhuTiBot">
        <span>行业市场：</span>
        <ul>
            <li><a href="#">建筑与工程建设</a></li>
            <li><a href="#">工业材料与产品</a></li>
            <li><a href="#">机械装备与设备</a></li>
            <li><a href="#">轻工文体织造业</a></li>
            <li><a href="#">高新科技与产业</a></li>
            <li><a href="#">数码电子与电器</a></li>
            <li><a href="#">地产家居装饰业</a></li>
            <li><a href="#">商务与生活服务</a></li>
            <li><a href="#">农林牧渔副食品</a></li>
            <li><a href="#">卫生健康与医械</a></li>
        </ul>
    </div>
    <div class="qiuGou">
        <div class="qiuGouLeft">
            <h4>广州三泰机械工程有限公司</h4>
            <div class="qiuGouLogo">
                <a href="">
                    <img src="__IND__/images/touxiang.jpg" alt="">
                </a>
                <ul class="imgRight">
                    <li>
                        <span>认证方式</span>
                        <img src="img/ss2.jpg" alt="">
                        <img src="img/ss3.jpg" alt="">
                        <img src="img/ss1.jpg" alt="">
                        <img src="img/ss4.jpg" alt="">
                        <img src="img/ss5.jpg" alt="">
                    </li>
                    <li><span>联系人</span><p>王三三</p><img src="img/ss6.jpg" alt="" style="width: 23px;height: 24px;"></li>
                    <li><span>手机号</span><a href="">点击查看</a></li>
                </ul>
            </div>
            <ul class="imgRight">
                <li><span>注册地 </span><p>内蒙古齐齐哈尔市阿拉雷善左旗</p></li>
                <li><span>具体地址</span><p>阿拉善左旗大道阿拉阿业大厦B栋16层201</p></li>
                <li><span>电话号码</span><p>020-89441861， 400-8119265</p></li>
                <li><span>网址</span><p>www.gzsantai.cn</p></li>
                <li><span>邮箱</span><p>123456@163.com</p></li>
            </ul>
            <div class="qg">
                <a href="#"><img src="img/xx1.png" alt="">收藏商家</a>
                <a href="#"><img src="img/xx2.png" alt="">发送消息</a>
                <a href="#"><img src="img/xx3.png" alt="">QQ交谈</a>
            </div>
            <p>联系时，请说在博帮网看到我的，谢谢您！</p>
            <div class="lefttit">
                <h4>网站注册信息</h4>
                <ul class="lefttit1">
                    <li><span>手机勋章 :</span>
                        <img src="img/t1.jpg" alt="">
                        <img src="img/t2.jpg" alt="">
                        <img src="img/t3.jpg" alt="">
                        <img src="img/t4.jpg" alt="">
                    </li>
                    <li><span>会员等级 :</span>
                        <img src="img/vip5.jpg" alt="">
                    </li>
                    <li><span>注册日期 :</span><p>2019年5月26日 15:36</p></li>
                    <li><span>最后登录日期  :</span><p>2019年5月26日 15:36</p></li>
                    <li><span>访问量 :</span><p>1286人次</p></li>
                    <li><span>粉丝数量 :</span><p>128689</p></li>
                </ul>
            </div>
            <div class="lefttitZhong">
                <h4>商家发布的信息</h4>
                <ul class="leftfabu">
                    <li><span>发布的招标：</span><p>[1]</p></li>
                    <li><span>发布的求购：</span><p>[0]</p></li>
                    <li><span>发布的会展：</span><p>[300]</p></li>
                    <li><span>发布的会议：</span><p>[3]</p></li>
                    <li><span>发布的招聘：</span><p>[10]</p></li>
                    <li><span>发布的求职：</span><p>[20]</p></li>
                    <li><span>发布的转让：</span><p>[20]</p></li>
                </ul>
            </div>
            <div class="lefttitZhong">
                <h4>可担保第三方交易平台</h4>
                <div>
                    <p> <span>淘宝网：</span>https://item.taobao.com=572646493428&ali_refid=a3_430584_1006:1124309737:N:YeizLO%2FCvRb0Ahw4Q2%2Bnuw%3D%3D:7eb4724ce3763300eed2cc78e5e2c81f&ali_trackid=1_7eb4724ce3763300eed2cc78e5e2c81f&spm=a219r.lm5704.14.1#detail</p>
                </div>
            </div>
        </div>
        <div class="qiuGouRight">
            <div class="BioTi">
                <p>您当前的位置：招标求购> 广州三泰机械工程有限公司</p>
            </div>
            <div class="LiuLan">
                <ul>
                    <li>
                        已被浏览<br>
                        <span>874</span>次
                    </li>
                    <li>
                        收藏分享<br>
                        <span>4</span>次
                    </li>
                    <li>
                        累计留言<br>
                        <span>1</span>天
                    </li>
                </ul>
            </div>
            <div class="TiMu">
                <h4>造船门机/发电机全国 求购</h4>
                <ul>
                    <li>招标产品名称</li>
                    <li>招标类型</li>
                    <li>型号规范</li>
                    <li>数量</li>
                    <li>单位</li>
                    <li>预算价</li>
                </ul>
                <ul>
                    <li>造船厂用100+100+800/100t门式起重机</li>
                    <li>货物招标</li>
                    <li>YYEES100+100+800/100t</li>
                    <li>1</li>
                    <li>套</li>
                    <li>200万</li>
                </ul>
                <ul>
                    <li>造船厂用100+100+800/100t门式起重机</li>
                    <li>货物招标</li>
                    <li>YYEES100+100+800/100t</li>
                    <li>1</li>
                    <li>套</li>
                    <li>200万</li>
                </ul>
                <ul>
                    <li>造船厂用100+100+800/100t门式起重机   </li>
                    <li>货物招标</li>
                    <li>YYEES100+100+800/100t</li>
                    <li>1</li>
                    <li>套</li>
                    <li>200万</li>
                </ul>
            </div>
            <div class="qiugouyy">
                <div><p>求购截止时间</p><span> 2019-08-10 08:30  </span>（剩15天）</div>
                <div><p>求购方地址</p><span>广东省广州市黄埔区开发到大道8号广州三泰机械工程有限公司二楼201招标办公</span></div>
                <div><p>联系人：</p><span>王三三</span><p>电话：</p><span>020-89441861</span> <p>手机：</p> <span>13903069498</span></div>
            </div>
            <div class="qiugouyy1">
                <div>
                    <a href="#">
                        <img src="__IND__/images/huiyuanxixi_02.jpg" alt="">
                    </a>
                    <p>111</p>
                </div>
                <div>
                    <a href="#">
                        <img src="__IND__/images/huiyuanxixi_02.jpg" alt="">
                    </a>
                    <p>111</p>
                </div>
                <div>
                    <a href="#">
                        <img src="__IND__/images/huiyuanxixi_02.jpg" alt="">
                    </a>
                    <p>111</p>
                </div>
                <div>
                    <a href="#">
                        <img src="__IND__/images/huiyuanxixi_02.jpg" alt="">
                    </a>
                    <p>111</p>
                </div>

            </div>
            <div class="qiugouyy2">
                <div class="qiugouyy2-1">
                    求购正文
                </div>
                <div class="qiugouyy2-2"></div>
            </div>
            <div class="qiugouyy3">
                <p>本人因另有发展，现将位于广州市珠海区以中型制衣厂整体转让（在营），公司现在员工300余人，总占地面积2000平方米建筑面积1000平，年产值1.2亿元，产品畅销全国，出口东南亚和非洲，品牌商标3套，主要设备有什么？等等，欢迎有实力的单位和个人前来考察洽，联系人：张先生，手机13903000987</p>
                <p>本人因另有发展，现将位于广州市珠海区以中型制衣厂整体转让（在营），公司现在员工300余人，总占地面积2000平方米建筑面积1000平，年产值1.2亿元，产品畅销全国，出口东南亚和非洲，品牌商标3套，主要设备有什么？等等，欢迎有实力的单位和个人前来考察洽，联系人：张先生，手机13903000987</p>
                <span>[注：付费查看只能看到招标方的发布信息和联系方式，不含购买标书价格]</span>
            </div>
            <div class="qiugouyy4">
                <h4>评论专区</h4><span>文明上网理性发言,请遵守新闻评论服务协议</span>
            </div>
            <div class="qiugouyy5">
                <form action="" method="">
						<textarea rows="" cols="">

						</textarea>
                    <input type="submit" value="确认发送">
                    <label>
                        <input type="checkbox">仅我和发布方可见
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="mianze">
    <p><span>免责声明：</span>本页面展示的公司信息、产品信息、联系方式等相关信息均有对应的商家和会员自行发布，信息的真实性、合法性、准确性由所属会员完全负责，博帮网对此不承担任何保证责任。</p>
    <p><span>友情提示：</span>建议供需双方在履约前务必核实对方的履约能力以及产品质量，标注过低的价格有可能是虚假信息，请谨慎对待慎防欺诈行为</p>
</div>
<div class="tuwengg">
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>

</div>
{/block}
{block name="script"}
<!--<script src="js/area.js"></script>-->
<!--<script src="js/select.js"></script>-->
<!--<script>-->
<!--    $(".dingbu3 li").click(function(){-->
<!--        $(this).addClass("yynav").siblings("li").removeClass("yynav");-->
<!--    });-->
<!--</script>-->
<!--</html>-->
{/block}