{extend name="public/header" /}
{block name="content"}
<link rel="stylesheet" href="__IND__/css/gongsi.css">
<style>
    .FwjsSgleft {
        float: left;
        width: 100%;
        /* overflow: hidden; */
    }
</style>
{include file="public/top" /}
<div class="zhuTi">
    <div class="zhuTiTop">
        <a href="#"><img src="__IND__/images/guanggao_03.jpg" ></a>
    </div>
    <div class="FwjsSg">
        <div class="FwjsSgleft">
            <div class="FwjsSg1" style="width: 100%"></div>
            <div class="FwjsSg3" style="width: 100%">
                <h4>承接跨海大桥、海底隧道、高速公路、机场建设</h4>
                <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn
                    经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦.....[详情]</p>
                <p>发布方：<span style="color:#3f48cc;">广州三泰机械工程有限公司</span><img src="__IND__/images/vvs.jpg" alt=""></p>
            </div>
        </div>
    </div>
    <div class="Wgangao">
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
    </div>

</div>
{/block}
{block name="script"}

<script>
    $(".dingbu3 li").click(function(){
        $(this).addClass("yynav").siblings("li").removeClass("yynav");
    });
    $(".tpimg1").click(function(){
        $(".tpimg11").click();
    })
    $(".Ggduo").click(function(){
        $(".Ggduo-1").toggle();
    });
    $(".Ggduo1").click(function(){
        $(".Ggduo-2").toggle();
    })
    $(".aa2 li").click(function(){
        $(this).addClass("lan").siblings("li").removeClass("lan");
    });
    $(".aa1 li").click(function(){
        $(this).addClass("lan").siblings("li").removeClass("lan");
    });
</script>
{/block}
