{extend name="public/header" /}
{block name="content"}
<link rel="stylesheet" href="__IND__/css/gongsi.css">
{include file="public/top" /}
<div class="zhuTi">
    <div class="zhuTiTop">
        <a href="#"><img src="__IND__/images/guanggao_03.jpg" ></a>
    </div>
    {include file="public/itemize" /}
    <div class="zhuTiZhong">
        <h4>请填写求职信息</h4>
        <p>求职信息越完整，越容易让公司认识你</p>
        <div class="zhuTiform">
            <div class="zhuTiform1">
                基本信息
            </div>
            <form action="" method="post"  id="FormData">
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">标题</span>
                    <input type="text" class="inp1" name="job_title">
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">性别</span>
                    <span><input type="radio" name="gender" value="1" >男</span>
                    <span><input type="radio" name="gender" value="2">女</span>
                    <span style="margin-left:40px;">照片</span>
                    <div id="feedback" style="display: none"></div>
                    <img src="__IND__/images/tijianji_03.jpg" alt="" class="tpimg1">
                    <span>上传一张靓照，说不定有眼缘哦</span>
                    <input type="file"  class="tpimg11 tp1" id="up-img-file" onchange="upimg(this,1)">
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">出生日期</span>
                    <select class="inp2" name="birth_date_y">
                        {for start="1980" end="2020"}
                        <option value ="{$i}">{$i}年</option>
                        {/for}

                    </select>
                    <select class="inp3" name="birth_date_m">
                        {for start="1" end="13"}
                        <option value ="{$i}">{$i}月</option>
                        {/for}
                    </select>
                </div>
                <div class="outer">
                    <span><img src="__IND__/images/bitian_03.png" alt="">现居地址</span>
                    <select name="province" id="province" class="inp2">
<!--                        <option value="0">省</option>-->
                    </select>
                    <select name="city" id="city" class="inp2">
                        <option value="0">市</option>
                    </select>
                    <select name="town" id="town" class="inp2">
                        <option value="0">区</option>
                    </select>
                </div>
                <div class="outer">
                    <span><img src="__IND__/images/bitian_03.png" alt="">籍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贯</span>
                    <select name="province1" id="province1" class="inp2">
<!--                        <option value="请选择">省</option>-->
                    </select>
                    <select name="city1" id="city1" class="inp2">
                        <option value="0">市</option>
                    </select>
                    <select name="town1" id="town1" class="inp2">
                        <option value="0">区</option>
                    </select>
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">最高学历</span>
                    <select class="inp2" name="education">
                        {volist name='education' id='v'}
                        <option value ="{$key}">{$v}</option>
                        {/volist}
                    </select>
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">工作经验</span>
                    <select class="inp2" name="hands">
                        {volist name='hands' id='v'}
                        <option value ="{$key}">{$v}</option>
                        {/volist}
                    </select>
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">联系姓名</span>
                    <input type="text" class="inp3" name="contacts">
                    <span><img src="__IND__/images/bitian_03.png" alt="">联系电话</span>
                    <input type="text" class="inp2" name="phone">
                    <span>座机</span>
                    <input type="text" class="inp2" placeholder="号码" name="landline">
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">电子邮箱</span>
                    <input type="email" class="inp2" name="email">
                </div>

                <div class="zhuTiform1">
                    求职意向
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">求职类型</span>
<!--                    <select class="inp5">-->
<!--                        <option value ="">整体转让</option>-->
<!--                        <option value =""></option>-->
<!--                        <option value =""></option>-->
<!--                    </select>-->
                    <input type="text" class="inp5" name="jobs_type">
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">期望职位类别</span>
                    <input type="text" class="inp5" name="exp_pos_type">
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">期望工作行业</span>
                    <input type="text" class="inp5" name="exp_work">
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">期望职位</span>
                    <input type="text" class="inp5" name="exp_pos">
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">期望薪资</span>
                    <select class="inp2" name="salary">
                        {volist name='salary' id='v'}
                        <option value ="{$key}">{$v}</option>
                        {/volist}
                    </select>
                </div>
                <div class="outer">
                    <span><img src="__IND__/images/bitian_03.png" alt="">求职地区</span>
                    <select name="province2" id="province3" class="inp2">
                        <option value="请选择">省</option>
                    </select>
                    <select name="city2" id="city3" class="inp2">
                        <option value="请选择">市</option>
                    </select>
                    <select name="town2" id="town3" class="inp2">
                        <option value="请选择">区</option>
                    </select>
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">推送行业</span>
                    <select class="inp5" name="push_indu">
                        {volist name='navall' id='v'}
                        <option value ="{$v.id}">{$v.title}</option>
                            {volist name='v.one' id='v'}
                                <option value ="{$v.id}">---二级：{$v.title}</option>
                                    {volist name='v.two' id='v'}
                                        <option value ="{$v.id}">------三级：{$v.title}</option>
                                            {volist name='v.three' id='v'}
                                            <option value ="{$v.id}">---------四级：{$v.title}</option>

                                            {/volist}
                                    {/volist}
                            {/volist}
                        {/volist}
                    </select>
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">发布时长</span>
                    <select class="inp2" name="release_time">
                        {volist name='release_time' id='v'}
                        <option value ="{$key}">{$v}</option>
                        {/volist}
                    </select>
                </div>

                <div>
                    <span>自我介绍</span>
                    <textarea placeholder="如企业概括,客户资源,转让要求等" name="self_intr"></textarea>
                </div>
                <div>
                    <span><img src="__IND__/images/bitian_03.png" alt="">公开程度</span>
                    <span><input type="radio" name="see_level" value="1" checked>完全开发</span>
                    <span><input type="radio" name="see_level" value="2">仅会员可见</span>
                    <span><input type="radio" name="see_level" value="3">仅企业会员可见</span>
                </div>
                <div class="formbut">
<!--                    <input type="submit" value="保存草稿" class="formbut1">-->
                    <input type="button" value="确认发布" class="formbut2" id="btn">
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="script"}

<script src="__IND__/js/area.js"></script>
<script src="__IND__/js/select.js"></script>
<script>
    $(".dingbu3 li").click(function(){
        $(this).addClass("yynav").siblings("li").removeClass("yynav");
    });
    $(".tpimg1").click(function(){
        $(".tpimg11").click();
    });



    $('#btn').click(function () {
        $.ajax({
            url:"{:url('Jobs/add')}",
            type:'post',
            dataType:'json',
            data:$("#FormData").serialize(),
            success:function(result){
                //回调函数
                if (result.code == 1){
                    layer.msg(result.msg+',等待审核',{
                        time:2000,
                        end:function () {
                            location.reload();
                        }
                    });

                } else {
                    layer.msg(result.msg,{time:2000});
                }

            }
        });
    });
</script>

{/block}
