{extend name="public/header" /}
{block name="content"}
<link rel="stylesheet" href="__IND__/css/gongsi.css">
<link rel="stylesheet" href="__IND__/css/quiGou.css">
<style>
    .wyysol{
        overflow: hidden;
        width: 756px;
        margin-left: 22px;
        margin-right: 28px;
    }
    .wyysol>img{
        width:114px;
        height: 114px;
        float: left;
    }
    .wyysol h4{
        float: left;
        width:620px;
        margin-left:20px;
        display: block;
        line-height:30px;
    }
    .wyysol p{
        float: left;
        width:620px;
        margin-left:20px;
        display: block;
        line-height:40px;
    }
    .wyysol>p>span{
        float:left;
    }
    .wyysol>p>img{
        padding:5px;
        float:left;
        margin-top:7px;
    }
    .wyysol ul{
        float: left;
        width:620px;
        margin-left:20px;
        display: block;
        overflow: hidden;
    }
    .wyysol li{
        float: left;
        font-size:12px;
        padding:5px;
        line-height:40px;
    }
    .wyysol1{
        padding: 26px;
    }
    .wyysol1 li{
        width:50%;
        text-align:left;
        line-height:40px;
        float: left;
        font-size:14px;
    }
    .wyysol1 li span{
        margin-left:30px;
    }
    .wyysol1 h4{
        line-height:60px;
        font-size:18px;
    }
    .wyysol1 p{
        font-size:14px;
    }
</style>
{include file="public/top" /}
<div class="zhuTi">
    <div class="zhuTiTop">
        <a href="#"><img src="__IND__/images/guanggao_03.jpg" ></a>
    </div>
    {include file="public/itemize" /}
    <div class="qiuGou">
        <div class="qiuGouLeft">
            <h4>广州三泰机械工程有限公司</h4>
            <div class="qiuGouLogo">
                <a href="">
                    <img src="__IND__/images/touxiang.jpg" alt="">
                </a>
                <ul class="imgRight">
                    <li>
                        <span>认证方式</span>
                        <img src="__IND__/img/ss2.jpg" alt="">
                        <img src="__IND__/img/ss3.jpg" alt="">
                        <img src="__IND__/img/ss1.jpg" alt="">
                        <img src="__IND__/img/ss4.jpg" alt="">
                        <img src="__IND__/img/ss5.jpg" alt="">
                    </li>
                    <li><span>联系人</span><p>王三三</p><img src="__IND__/img/ss6.jpg" alt="" style="width: 23px;height: 24px;"></li>
                    <li><span>手机号</span><a href="">点击查看</a></li>
                </ul>
            </div>
            <ul class="imgRight">
                <li><span>注册地 </span><p>内蒙古齐齐哈尔市阿拉雷善左旗</p></li>
                <li><span>具体地址</span><p>阿拉善左旗大道阿拉阿业大厦B栋16层201</p></li>
                <li><span>电话号码</span><p>020-89441861， 400-8119265</p></li>
                <li><span>网址</span><p>www.gzsantai.cn</p></li>
                <li><span>邮箱</span><p>123456@163.com</p></li>
            </ul>
            <div class="qg">
                <a href="#"><img src="__IND__/img/xx1.png" alt="">收藏商家</a>
                <a href="#"><img src="__IND__/img/xx2.png" alt="">发送消息</a>
                <a href="#"><img src="__IND__/img/xx3.png" alt="">QQ交谈</a>
            </div>
            <p>联系时，请说在博帮网看到我的，谢谢您！</p>
            <div class="lefttit">
                <h4>网站注册信息</h4>
                <ul class="lefttit1">
                    <li><span>手机勋章 :</span>
                        <img src="__IND__/img/t1.jpg" alt="">
                        <img src="__IND__/img/t2.jpg" alt="">
                        <img src="__IND__/img/t3.jpg" alt="">
                        <img src="__IND__/img/t4.jpg" alt="">
                    </li>
                    <li><span>会员等级 :</span>
                        <img src="__IND__/img/vip5.jpg" alt="">
                    </li>
                    <li><span>注册日期 :</span><p>2019年5月26日 15:36</p></li>
                    <li><span>最后登录日期  :</span><p>2019年5月26日 15:36</p></li>
                    <li><span>访问量 :</span><p>1286人次</p></li>
                    <li><span>粉丝数量 :</span><p>128689</p></li>
                </ul>
            </div>
            <div class="lefttitZhong">
                <h4>商家发布的信息</h4>
                <ul class="leftfabu">
                    <li><span>发布的招标：</span><p>[1]</p></li>
                    <li><span>发布的求购：</span><p>[0]</p></li>
                    <li><span>发布的会展：</span><p>[300]</p></li>
                    <li><span>发布的会议：</span><p>[3]</p></li>
                    <li><span>发布的招聘：</span><p>[10]</p></li>
                    <li><span>发布的求职：</span><p>[20]</p></li>
                    <li><span>发布的转让：</span><p>[20]</p></li>
                </ul>
            </div>
            <div class="lefttitZhong">
                <h4>可担保第三方交易平台</h4>
                <div>
                    <p> <span>淘宝网：</span>https://item.taobao.com=572646493428&ali_refid=a3_430584_1006:1124309737:N:YeizLO%2FCvRb0Ahw4Q2%2Bnuw%3D%3D:7eb4724ce3763300eed2cc78e5e2c81f&ali_trackid=1_7eb4724ce3763300eed2cc78e5e2c81f&spm=a219r.lm5704.14.1#detail</p>
                </div>
            </div>
        </div>
        <div class="qiuGouRight">
            <div class="BioTi">
                <p>您当前的位置：个人求职> 个人简历</p>
            </div>
            <div class="LiuLan">
                <ul>
                    <li>
                        已被浏览<br>
                        <span>{$j.preview}</span>次
                    </li>
                    <li>
                        收藏分享<br>
                        <span>4</span>次
                    </li>
                    <li>
                        累计留言<br>
                        <span>1</span>天
                    </li>
                </ul>
            </div>
            <div class="hese">
                <div class="wyysol">
                    <img src="/public/uploads/{$j.photo}" alt="">
                    <h4>{$j.job_title}</h4>
                    <p><img src="__IND__/images/ss1.jpg" ><span>{$j.phone}</span><img src="__IND__/images/ss5.jpg" ><span>{$j.email}</span></p>
                    <ul>
                        <li>{$j.contacts}</li>
                        <li>{$j.gender ? '男' : '女'}</li>
                        <li>{$j.birth_date}</li>
                        <li>有效期：{$j.release_time}个月</li>
                        <li>发布日期：{$j.create_time|date='Y-m-d H:i'}</li>
                        <li>最后修改日期：{$j.update_time|date='Y-m-d H:i'}</li>
                    </ul>
                </div>
                <div class="wyysol1">
                    <h4 style="font-size:18px;">个人情况</h4>
                    <ul>
                        <li>现居住地：<sapn>{php}echo GetRegionName($j['current_p'].','.$j['current_c'].','.$j['current_t']){/php}</sapn></li>
                        <li>最高学历: <span>{php}echo GetConfigName('education',$j['education']){/php}</span></li>
                        <li>籍贯: <span>{php}echo GetRegionName($j['household_p'].','.$j['household_c']){/php}</span></li>
                        <li>工作经验: <span>{php}echo GetConfigName('hands',$j['hands']){/php}</span></li>
                    </ul>
                </div>
                <div class="wyysol1">
                    <h4>求职意向</h4>
                    <ul>
                        <li>工作性质：<sapn>{$j.jobs_type}</sapn></li>
                        <li>期望职位: <span>{$j.exp_pos}</span></li>
                        <li>期望工作类别: <span>{$j.exp_pos_type}</span></li>
                        <li>期望月薪: <span>{php}echo GetConfigName('salary',$j['salary']){/php}</span></li>
                        <li>期望工作行业: <span>{$j.exp_work}</span></li>
                        <li>期望工作地: <span>{php}echo GetRegionName($j['push_addr_p'].','.$j['push_addr_c'].','.$j['push_addr_t']){/php}</span></li>
                    </ul>
                </div>
                <div class="wyysol1">
                    <h4>个人简介</h4>
                    <p>{$j.self_intr}</p>
                </div>
            </div>
            <div class="qiugouyy4">
                <h4>评论专区</h4><span>文明上网理性发言,请遵守新闻评论服务协议</span>
            </div>
            <div class="qiugouyy5">
                <form action="" method="">
						<textarea rows="" cols="">

						</textarea>
                    <input type="submit" value="确认发送">
                    <label>
                        <input type="checkbox">仅我和发布方可见
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="mianze">
    <p><span>免责声明：</span>本页面展示的公司信息、产品信息、联系方式等相关信息均有对应的商家和会员自行发布，信息的真实性、合法性、准确性由所属会员完全负责，博帮网对此不承担任何保证责任。</p>
    <p><span>友情提示：</span>建议供需双方在履约前务必核实对方的履约能力以及产品质量，标注过低的价格有可能是虚假信息，请谨慎对待慎防欺诈行为</p>
</div>
<div class="tuwengg">
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>

</div>
{/block}
{block name="script"}
<script>
    $(".dingbu3 li").click(function(){
        $(this).addClass("yynav").siblings("li").removeClass("yynav");
    });
</script>
{/block}
