{extend name="public/header" /}
{block name="content"}
<link rel="stylesheet" href="__IND__/css/index.css">
<link rel="stylesheet" href="__IND__/css/animate.min.css">
<script src="__IND__/js/swiper.animate1.0.3.min.js"></script>
<style>
    .renav11>div{
        position: relative;
    }
    .ass span{
        color:#ed1f29;
        float: left;
        line-height:26px;
        font-size:14px !important;
    }
    .ass li{
        float: left;
        line-height:26px;
        padding:0px 5px;
    }
    .ass li>a{
        font-size:14px !important;
        color:#666666;
    }
</style>
{include file="public/top" /}
<div class="wztjin">
    <span>网站推荐：</span>
    <div>
        <a href="">人民网</a>
        <a href="">新华网</a>
        <a href="">央视网</a>
        <a href="">中国网</a>
        <a href="">国际在线</a>
        <a href="">光明网</a>
        <a href="">中国日报网</a>
        <a href="">中国经济网</a>
        <a href="">央广网</a>
        <a href="">求是网</a>
        <a href="">中青网</a>
        <a href="">网信网</a>
        <a href="">中国青年报</a>
        <a href="">网易</a>
        <a href="">腾讯新闻</a>
        <a href="">新浪网</a>
        <a href="">搜狐网</a>
        <a href="">今日头条</a>
    </div>
    <span style="float: right;margin-right:10px;color:#ed1f29;" class="geduo">更多推荐 <img src="__IND__/img/jiantou.jpg" alt=""style="margin-left: 10px;"></span>
    <div class="xiala" style="display: none;">
        <div style="width:95%;padding:0px 2.5%;" class="ass">
            <span>权威网站推荐:</span>
            <ul>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
            </ul>
        </div>
        <div style="width:95%;padding:0px 2.5%;" class="ass">
            <span>视频网站推荐:</span>
            <ul>
                <li><a href="#">优酷网</a></li>
                <li><a href="#">土豆网</a></li>
                <li><a href="#">火山视频网</a></li>
                <li><a href="#">抖音网</a></li>
            </ul>
        </div>
        <div style="width:95%;padding:0px 2.5%;" class="ass">
            <span>权威网站推荐:</span>
            <ul>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
                <li><a href="#">新华网</a></li>
                <li><a href="#">央视网</a></li>
                <li><a href="#">中国在线</a></li>
            </ul>
        </div>
    </div>
</div>
{include file="public/login" /}
<div class="renav">
    <ul>
        {volist name='navall' id='v'}
        <li data-id="{$key}" {if condition="$key eq 0"}class="lsnav"{/if} ><a href="#"data-id="{$key}"><span>{$key+1}F</span>{$v.title}</a></li>
        {/volist}
    </ul>
</div>
<div class="renav11">
    <div class="f1" name="f0">
        <div class="F1LeftNav">
            <div class="F1LeftNav1">
                <span>1F</span>
                建筑与工程建设
            </div>
            <ul>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
            </ul>
        </div>
        <div class="F1Right">
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
        </div>
    </div>
    <div class="f1" name="f1" id="f1">
        <div class="F1LeftNav">
            <div class="F1LeftNav1">
                <span>2F</span>
                建筑与工程建设
            </div>
            <ul>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
            </ul>
        </div>
        <div class="F1Right">
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
        </div>
    </div>
    <div class="f1" name="f2" id="f2">
        <div class="F1LeftNav">
            <div class="F1LeftNav1">
                <span>3F</span>
                建筑与工程建设
            </div>
            <ul>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">市政建设工程施工</a></li>
                <li><a href="">水利工程建设施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">道路交通施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
                <li><a href="">房屋建筑施工</a></li>
            </ul>
        </div>
        <div class="F1Right">
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
            <figure>
                <a href="#"><img src="__IND__/images/index_28.jpg" alt=""></a>
                <figcaption>河南三一集团建设有限公司</figcaption>
            </figure>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $(".dingbu3 li").click(function(){
        $(this).addClass("yynav").siblings("li").removeClass("yynav");
    });
    var arr_postion=['717','1297','1877','2457','3037','3617','4197','4777','5357','5937'];
    oneClick = 0;
    $(".renav li").click(function(){
        $(this).addClass('lsnav').siblings("li").removeClass("lsnav");
        var index=$(this).index();
        var ll=$('.renav11').scrollTop();
        var index_index=$(this).attr('data-id');
        var top=arr_postion[index_index];
        if(oneClick == 0){
            oneClick = 1;
            $('html,body').animate({ scrollTop: top -100+"px"}, 500)
        }else{
            $('html,body').animate({ scrollTop: top -50+"px"}, 500)
        }
    });
    $(".geduo").click(function(){
        $(".xiala").toggle();
    });
    $(".leftnav1-1 li").hover(function(){
        var index=$(this).index();
        $(".xuanze>div").css("display","none").eq($(this).index()).show();
    });
    $('.zongfenlei_two').mouseout(function(){
        // alert(123);
        $('.zongfenlei').hide();
    })
    $(window).scroll(function(){
        if($(window).scrollTop()>702){
            $(".renav").css({"position":"fixed","top":0,"left":"50%","margin-left":"-600px","margin-top":"0px"});
        }else{
            $(".renav").css({"position":"static", "margin-left":"auto","margin-top":"14px"});
        }
    });
    $(window).scroll(function(){
        if($(window).scrollTop()>717){
            $(".renav li").eq(1).addClass("lsnav").siblings("li").removeClass("lsnav");
        }else{
            $(".renav li").eq(1).removeClass("lsnav");
        }
    });
    $(window).scroll(function(){
        if($(window).scrollTop()>1297){
            $(".renav li").eq(2).addClass("lsnav").siblings("li").removeClass("lsnav");
        }else{
            $(".renav li").eq(2).removeClass("lsnav");
        }
    });
    $(window).scroll(function(){
        if($(window).scrollTop()>1877){
            $(".renav li").eq(3).addClass("lsnav").siblings("li").removeClass("lsnav");
        }else{
            $(".renav li").eq(3).removeClass("lsnav");
        }
    });
    $(window).scroll(function(){
        if($(window).scrollTop()>2457){
            $(".renav li").eq(4).addClass("lsnav").siblings("li").removeClass("lsnav");
        }else{
            $(".renav li").eq(4).removeClass("lsnav");
        }
    });
</script>
<script>
    var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation:{
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
{/block}
