{extend name="public/header" /}
{block name="content"}
<link rel="stylesheet" href="__IND__/css/gongsi.css">
{include file="public/top" /}
<div class="zhuTi">
    <div class="zhuTiTop">
        <a href="#"><img src="__IND__/images/guanggao_03.jpg" ></a>
    </div>
    <div class="zhuTiBot" style="border-bottom:2px solid #3075ca;padding:24px 0;margin: 0;">
        <span>行业市场：</span>
        <ul>
            <li><a href="#">建筑与工程建设</a></li>
            <li><a href="#">工业材料与产品</a></li>
            <li><a href="#">机械装备与设备</a></li>
            <li><a href="#">轻工文体织造业</a></li>
            <li><a href="#">高新科技与产业</a></li>
            <li><a href="#">数码电子与电器</a></li>
            <li><a href="#">地产家居装饰业</a></li>
            <li><a href="#">商务与生活服务</a></li>
            <li><a href="#">农林牧渔副食品</a></li>
            <li><a href="#">卫生健康与医械</a></li>
        </ul>
    </div>
    <div class="yea">
        <div class="yea1">
            <p>当前位置：首页>建筑与工程建设</p>
            <a href="#">在此板块发布+</a>
        </div>
        <div class="yea2">
            <p>分类：</p>
            <ul class="aa1">
                <li class="lan"><a href="#">全部</a></li>
                <li><a href="#">房屋建设施工</a></li>
                <li><a href="#">道路交通施工</a></li>
                <li><a href="#">市政建设工程施工</a></li>
                <li><a href="#">水利工程建设施工</a></li>
                <li><a href="#">电力工程建设施工</a></li>
                <li><a href="#">治金工程建设施工</a></li>
                <li><a href="#">能源石化工程施工</a></li>
            </ul>
            <p style="color:#ec3901;margin-left:0;margin-right:5px;" class="Ggduo">更多<img src="__IND__/images/xiajint_03.png" ></p>
        </div>
        <div class="Ggduo-1">

        </div>
    </div>
    <div class="yea">
        <div class="yea2">
            <p>地区：</p>
            <ul class="aa2">
                <li class="lan"><a href="#">全市</a></li>
                <li><a href="#">房屋建设施工</a></li>
                <li><a href="#">道路交通施工</a></li>
                <li><a href="#">市政建设工程施工</a></li>
                <li><a href="#">水利工程建设施工</a></li>
                <li><a href="#">电力工程建设施工</a></li>
                <li><a href="#">治金工程建设施工</a></li>
                <li><a href="#">能源石化工程施工</a></li>
            </ul>
            <p style="color:#ec3901;margin-left:0;margin-right:5px;" class="Ggduo1">更多<img src="__IND__/images/xiajint_03.png" ></p>
        </div>
        <div class="Ggduo-2">

        </div>
    </div>
    <div class="Wgangao">
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
        <figure>
            <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
            <figcaption>
                三泰工程建设
            </figcaption>
        </figure>
    </div>
    <div class="FwjsSg">
        <div class="FwjsSgleft">
            <div class="FwjsSg1">
                <div>房屋建设施工</div>
            </div>
            <div class="FwjsSg2">
                <form action="" method="">
                    <label>
                        <span>显示全部</span>
                    </label>
                    <label>
                        <input type="radio" name="radio1">
                        <span>只看商品</span>
                    </label>
                    <label>
                        <input type="radio" name="radio1">
                        <span>只看招标</span>
                    </label>
                    <label>
                        <input type="radio" name="radio1">
                        <span>只看求职</span>
                    </label>
                    <label>
                        <input type="radio" name="radio1">
                        <span>只看转让</span>
                    </label>
                </form>
            </div>
            <div class="FwjsSg3">
                <h4>承接跨海大桥、海底隧道、高速公路、机场建设</h4>
                <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn
                    经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦.....[详情]</p>
                <p>发布方：<span style="color:#3f48cc;">广州三泰机械工程有限公司</span><img src="__IND__/images/vvs.jpg" alt=""></p>
            </div>
            <div class="FwjsSg3">
                <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
                <h4>承接跨海大桥、海底隧道、高速公路、机场建设</h4>
                <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn
                    经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦.....[详情]</p>
                <p>发布方：<span style="color:#3f48cc;">广州三泰机械工程有限公司</span><img src="__IND__/images/vvs.jpg" alt=""></p>
            </div>
            <div class="FwjsSg3">
                <h4>承接跨海大桥、海底隧道、高速公路、机场建设</h4>
                <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn
                    经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦.....[详情]</p>
                <p>发布方：<span style="color:#3f48cc;">广州三泰机械工程有限公司</span><img src="__IND__/images/vvs.jpg" alt=""></p>
            </div>
            <div class="FwjsSg3">
                <h4>承接跨海大桥、海底隧道、高速公路、机场建设</h4>
                <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn
                    经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦.....[详情]</p>
                <p>发布方：<span style="color:#3f48cc;">广州三泰机械工程有限公司</span><img src="__IND__/images/vvs.jpg" alt=""></p>
            </div>
            <div class="FwjsSg3">
                <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
                <h4>承接跨海大桥、海底隧道、高速公路、机场建设</h4>
                <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn
                    经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦.....[详情]</p>
                <p>发布方：<span style="color:#3f48cc;">广州三泰机械工程有限公司</span><img src="__IND__/images/vvs.jpg" alt=""></p>
            </div>
            <div class="FwjsSg3">
                <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
                <h4>承接跨海大桥、海底隧道、高速公路、机场建设</h4>
                <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn
                    经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦.....[详情]</p>
                <p>发布方：<span style="color:#3f48cc;">广州三泰机械工程有限公司</span><img src="__IND__/images/vvs.jpg" alt=""></p>
            </div>
        </div>

        <div class="Sp1Right">
            <div class="FwjsSg4">
                <h4>相关企业招标 <a href="#">更多+</a></h4>
                <ul>
                    <li><span>1</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>2</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>3</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>4</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>5</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>6</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>7</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>8</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>9</span><a href="#">山东猪舍建材模块...</a></li>
                </ul>
            </div>
            <div class="FwjsSg4">
                <h4>相关企业招标 <a href="#">更多+</a></h4>
                <ul>
                    <li><span>1</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>2</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>3</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>4</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>5</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>6</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>7</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>8</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>9</span><a href="#">山东猪舍建材模块...</a></li>
                </ul>
            </div>
            <div class="FwjsSg4">
                <h4>相关企业招标 <a href="#">更多+</a></h4>
                <ul>
                    <li><span>1</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>2</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>3</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>4</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>5</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>6</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>7</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>8</span><a href="#">山东猪舍建材模块...</a></li>
                    <li><span>9</span><a href="#">山东猪舍建材模块...</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}

<script>
    $(".dingbu3 li").click(function(){
        $(this).addClass("yynav").siblings("li").removeClass("yynav");
    });
    $(".tpimg1").click(function(){
        $(".tpimg11").click();
    })
    $(".Ggduo").click(function(){
        $(".Ggduo-1").toggle();
    });
    $(".Ggduo1").click(function(){
        $(".Ggduo-2").toggle();
    })
    $(".aa2 li").click(function(){
        $(this).addClass("lan").siblings("li").removeClass("lan");
    });
    $(".aa1 li").click(function(){
        $(this).addClass("lan").siblings("li").removeClass("lan");
    });
</script>
{/block}
