<div class="zhuTiBot" style="border-bottom:2px solid #3075ca;padding:24px 0;margin: 0;">
    <span>行业市场：</span>
    <ul>
        <li><a href="#">建筑与工程建设</a></li>
        <li><a href="#">工业材料与产品</a></li>
        <li><a href="#">机械装备与设备</a></li>
        <li><a href="#">轻工文体织造业</a></li>
        <li><a href="#">高新科技与产业</a></li>
        <li><a href="#">数码电子与电器</a></li>
        <li><a href="#">地产家居装饰业</a></li>
        <li><a href="#">商务与生活服务</a></li>
        <li><a href="#">农林牧渔副食品</a></li>
        <li><a href="#">卫生健康与医械</a></li>
    </ul>
</div>