<div class="leftnav">
    <div class="leftnav1">
        <div class="leftnav1-1">
            <div class="heinav">
                <ul>
                    <li><a href="#">建筑与工程建设<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                    <li><a href="#">工业材料与产品<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                    <li><a href="#">机械装备与设备<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                    <li><a href="#">轻工文体织造业<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                    <li><a href="#">高新科技与产业<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                    <li><a href="#">数码电子与电器<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                    <li><a href="#">地产家居装饰业<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                    <li><a href="#">商务与生活服务<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                    <li><a href="#">农林牧渔副食品<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                    <li><a href="#">卫生健康与医械<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                </ul>
            </div>
            <div class="xuanze">
                <div class="zongfenlei">
                    1
                </div>
                <div class="zongfenlei">
                    2
                </div>
                <div class="zongfenlei">
                    3
                </div>
                <div class="zongfenlei">
                    4
                </div>
                <div class="zongfenlei">
                    5
                </div>
                <div class="zongfenlei">
                    6
                </div>
            </div>
        </div>
        <div class="leftnav1-2">
            <div class="leftnav1-2-1">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__IND__/images/index_11.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__IND__/images/index_11.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__IND__/images/index_11.jpg" alt=""></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="leftnav1-2-2">
                <a href="#">
                    <img src="__IND__/images/index_15.jpg" alt="">
                </a>
                <a href="#">
                    <img src="__IND__/images/index_17.jpg" alt="">
                </a>
                <a href="#">
                    <img src="__IND__/images/index_19.jpg" alt="">
                </a>
                <a href="#">
                    <img src="__IND__/images/index_21.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="leftnav1-3">
            <div class="leftnav1-3-1">
                <a href="#"><img src="__IND__/images/index_03.jpg" alt=""></a>
                <a href="{:url('login/login')}"><div class="leftnavl">登录</div></a>
                <a href="{:url('login/reg')}"><div class="leftnavr">注册</div></a>
                <ul>
                    <li><a href="#">会员中心</a></li>
                    <li><a href="#">发布信息</a></li>
                    <li><a href="#">商户后台</a></li>
                </ul>
                <figure>
                    <a href="#"><img src="__IND__/img/vip.png" alt=""></a>
                    <figcaption>购买vip</figcaption>
                </figure>
                <figure style="float:right;">
                    <a href="#"><img src="__IND__/img/fabu.png" alt=""></a>
                    <figcaption>管理发布</figcaption>
                </figure>
            </div>
            <span><h4>网站公告</h4><a href="#">更多></a></span>
            <ul>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
            </ul>
        </div>
    </div>
</div>