<style>
    .leftnav1-3-1 figure {
        width: 72px;
        float: left;
        text-align: center;
        margin-top: 18px;
    }
    .leftnav1-3-1 figure>a {
        display: block;
        width: 36px;
        height: 36px;
        border: 1px solid #ff7113;
        border-radius: 50px;
        margin-left: 16px;
    }
</style>
<div class="leftnav">
    <div class="leftnav1">
        <div class="leftnav1-1">
            <div class="heinav">
                <ul>
                    {volist name='navall' id='v'}
                    <li><a href="#">{$v['title']}<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                    {/volist}
                </ul>
            </div>
            <div class="xuanze">
                {volist name='navall' id='v'}
                    <div class="zongfenlei">
                        <div class="zongfenlei_three">
                            {volist name='v.one' id='vs'}
                                <div>
                                   <h4><a href="{:url('index/lists',['id'=>$vs['id']])}" style="font-size: 16px;font-style: oblique">{$vs.title}：</a></h4>
                                        {volist name='vs.two' id='vss'}
                                             <a href="{:url('index/lists',['id'=>$vss['id']])}">{$vss.title}</a>
                                        {/volist}
                                </div>
                            {/volist}
                        </div>
                        <div class="zongfenlei_two"></div>
                    </div>
                {/volist}
            </div>
        </div>
        <div class="leftnav1-2">
            <div class="leftnav1-2-1">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__IND__/images/index_11.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__IND__/images/index_11.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__IND__/images/index_11.jpg" alt=""></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="leftnav1-2-2">
                <a href="#">
                    <img src="__IND__/images/index_15.jpg" alt="">
                </a>
                <a href="#">
                    <img src="__IND__/images/index_17.jpg" alt="">
                </a>
                <a href="#">
                    <img src="__IND__/images/index_19.jpg" alt="">
                </a>
                <a href="#">
                    <img src="__IND__/images/index_21.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="leftnav1-3">
            <div class="leftnav1-3-1">
                {if !$user}
                <a href="#"><img src="__IND__/images/index_03.jpg" alt=""></a>
                <div class="leftnavl"><a href="{:url('login/login')}">登录</a></div>
                <div class="leftnavr"><a href="{:url('login/reg')}">注册</a></div>
                {else/}
                <a href="#"><img src="__IND__/images/index_03.jpg" alt="" style=" margin-left: 10px;"></a>
                <div class="leftnavl" style="width: 94%;margin-top: -63px;color: #333;">{$user.user_name} , {$istime}</div>
                <div class="leftnavr" style="width: 140px;margin-top: -33px;color: #4c5cda;">上网赚积分换广告</div>
                {/if}
                <figure>
                    <a href="{:url('index/adds')}"><img src="__IND__/img/fabu.png" alt=""></a>
                    <figcaption>免费发布</figcaption>
                </figure>
                <figure style="float:right;">
                    <a href="#"><img src="__IND__/img/fabu.png" alt=""></a>
                    <figcaption>管理发布</figcaption>
                </figure>
                <figure style="float:right;">
                    <a href="{:url('User/index')}"><img src="__IND__/img/vip.png" alt=""></a>
                    <figcaption>会员中心</figcaption>
                </figure>


            </div>
            <span><h4>网站公告</h4><a href="#">更多></a></span>
            <ul>
                {volist name='notice' id='v'}
                <li><a href="{:url('index/notice',['id'=>$v['id']])}">{$v.title} <span>{$v.createtime|date='H:i'}</span></a></li>
                {/volist}
            </ul>
        </div>
    </div>
</div>