<div class="leftnav">
    <div class="leftnav1">
        <div class="leftnav1-1">
            <div class="heinav">
                <ul>
                    {volist name='navall' id='v'}
                    <li><a href="#">{$v['title']}<img src="__IND__/img/qianwang_03.png" alt=""></a></li>
                    {/volist}
                </ul>
            </div>
            <div class="xuanze">
                {volist name='navall' id='v'}
                    <div class="zongfenlei">
                        <div class="zongfenlei_three">
                            {volist name='v.one' id='vs'}
                                <div>
                                    <h4>{$vs.title}</h4>
                                        {volist name='vs.two' id='vss'}
                                             <a href="#">{$vss.title}</a>
                                        {/volist}
                                </div>
                            {/volist}
                        </div>
                        <div class="zongfenlei_two"></div>
                    </div>
                {/volist}
            </div>
        </div>
        <div class="leftnav1-2">
            <div class="leftnav1-2-1">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="__IND__/images/index_11.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__IND__/images/index_11.jpg" alt=""></div>
                        <div class="swiper-slide"><img src="__IND__/images/index_11.jpg" alt=""></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="leftnav1-2-2">
                <a href="#">
                    <img src="__IND__/images/index_15.jpg" alt="">
                </a>
                <a href="#">
                    <img src="__IND__/images/index_17.jpg" alt="">
                </a>
                <a href="#">
                    <img src="__IND__/images/index_19.jpg" alt="">
                </a>
                <a href="#">
                    <img src="__IND__/images/index_21.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="leftnav1-3">
            <div class="leftnav1-3-1">
                <a href="#"><img src="__IND__/images/index_03.jpg" alt=""></a>
                <div class="leftnavl">登录</div>
                <div class="leftnavr">注册</div>
                <ul>
                    <li><a href="#">会员中心</a></li>
                    <li><a href="{:url('index/adds')}">发布信息</a></li>
                    <li><a href="#">商户后台</a></li>
                </ul>
                <figure>
                    <a href="#"><img src="__IND__/img/vip.png" alt=""></a>
                    <figcaption>购买vip</figcaption>
                </figure>
                <figure style="float:right;">
                    <a href="#"><img src="__IND__/img/fabu.png" alt=""></a>
                    <figcaption>管理发布</figcaption>
                </figure>
            </div>
            <span><h4>网站公告</h4><a href="#">更多></a></span>
            <ul>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
                <li><a href="#">2019年端午节放假通知 <span>14：00</span></a></li>
            </ul>
        </div>
    </div>
</div>