<div class="navleft">
    <ul>
        <h4>我的发布</h4>
        <li>招标发布<span>({$tendering})</span></li>
        <li>求购发布<span>({$tobuy})</span></li>
        <li>展会发布<span>({$expo})</span></li>
<!--        <li>招标发布<span>({$tendering})</span></li>-->
        <li>会议发布<span>({$meeting})</span></li>
        <li>招聘发布<span>({$recruit})</span></li>
        <li>求职发布<span>({$jobs})</span></li>
    </ul>
    <ul>
        <h4>会员中心</h4>
        <li><a href="">我的资料</a></li>
        <li><a href="">收藏管理</a></li>
        <li><a href="">会员等级</a></li>
        <li><a href="">违规记录</a></li>
        <li><a href="">客户服务</a></li>
    </ul>
    <ul>
        <h4>账户中心</h4>
        <li><a href="">资金账户</a></li>
        <li><a href="">积分状况</a></li>
        <li><a href="">发票管理</a></li>
    </ul>
    <ul>
        <h4>帮助我们</h4>
        <li><a href="#">如何注册</a></li>
        <li><a href="#">如何发布</a></li>
        <li><a href="#">推广攻略</a></li>
        <li><a href="#">法律服务</a></li>
        <li><a href="#">发布限制</a></li>
        <li><a href="#">违规处罚</a></li>
    </ul>
    <ul>
        <h4>投诉建议</h4>
        <li><a href="">商品发布</a></li>
        <li><a href="">求购发布</a></li>
        <li><a href="">展会发布</a></li>
    </ul>

</div>