{extend name="public/header" /}
{block name="content"}
<link rel="stylesheet" href="__IND__/css/gongsi.css">
<link rel="stylesheet" href="__IND__/css/quiGou.css">
{include file="public/top" /}
<div class="zhuTi">
    <div class="zhuTiTop">
        <a href="#"><img src="__IND__/images/guanggao_03.jpg" ></a>
    </div>
    <div class="zhuTiBot">
        <span>行业市场：</span>
        <ul>
            <li><a href="#">建筑与工程建设</a></li>
            <li><a href="#">工业材料与产品</a></li>
            <li><a href="#">机械装备与设备</a></li>
            <li><a href="#">轻工文体织造业</a></li>
            <li><a href="#">高新科技与产业</a></li>
            <li><a href="#">数码电子与电器</a></li>
            <li><a href="#">地产家居装饰业</a></li>
            <li><a href="#">商务与生活服务</a></li>
            <li><a href="#">农林牧渔副食品</a></li>
            <li><a href="#">卫生健康与医械</a></li>
        </ul>
    </div>
    <div class="qiuGou">
        <div class="qiuGouLeft">
            <h4>广州三泰机械工程有限公司</h4>
            <div class="qiuGouLogo">
                <a href="">
                    <img src="__IND__/images/touxiang.jpg" alt="">
                </a>
                <ul class="imgRight">
                    <li>
                        <span>认证方式</span>
                        <img src="img/ss2.jpg" alt="">
                        <img src="img/ss3.jpg" alt="">
                        <img src="img/ss1.jpg" alt="">
                        <img src="img/ss4.jpg" alt="">
                        <img src="img/ss5.jpg" alt="">
                    </li>
                    <li><span>联系人</span><p>王三三</p><img src="img/ss6.jpg" alt="" style="width: 23px;height: 24px;"></li>
                    <li><span>手机号</span><a href="">点击查看</a></li>
                </ul>
            </div>
            <ul class="imgRight">
                <li><span>注册地 </span><p>内蒙古齐齐哈尔市阿拉雷善左旗</p></li>
                <li><span>具体地址</span><p>阿拉善左旗大道阿拉阿业大厦B栋16层201</p></li>
                <li><span>电话号码</span><p>020-89441861， 400-8119265</p></li>
                <li><span>网址</span><p>www.gzsantai.cn</p></li>
                <li><span>邮箱</span><p>123456@163.com</p></li>
            </ul>
            <div class="qg">
                <a href="#"><img src="img/xx1.png" alt="">收藏商家</a>
                <a href="#"><img src="img/xx2.png" alt="">发送消息</a>
                <a href="#"><img src="img/xx3.png" alt="">QQ交谈</a>
            </div>
            <p>联系时，请说在博帮网看到我的，谢谢您！</p>
            <div class="lefttit">
                <h4>网站注册信息</h4>
                <ul class="lefttit1">
                    <li><span>手机勋章 :</span>
                        <img src="img/t1.jpg" alt="">
                        <img src="img/t2.jpg" alt="">
                        <img src="img/t3.jpg" alt="">
                        <img src="img/t4.jpg" alt="">
                    </li>
                    <li><span>会员等级 :</span>
                        <img src="img/vip5.jpg" alt="">
                    </li>
                    <li><span>注册日期 :</span><p>2019年5月26日 15:36</p></li>
                    <li><span>最后登录日期  :</span><p>2019年5月26日 15:36</p></li>
                    <li><span>访问量 :</span><p>1286人次</p></li>
                    <li><span>粉丝数量 :</span><p>128689</p></li>
                </ul>
            </div>
            <div class="lefttitZhong">
                <h4>商家发布的信息</h4>
                <ul class="leftfabu">
                    <li><span>发布的招标：</span><p>[1]</p></li>
                    <li><span>发布的求购：</span><p>[0]</p></li>
                    <li><span>发布的会展：</span><p>[300]</p></li>
                    <li><span>发布的会议：</span><p>[3]</p></li>
                    <li><span>发布的招聘：</span><p>[10]</p></li>
                    <li><span>发布的求职：</span><p>[20]</p></li>
                    <li><span>发布的转让：</span><p>[20]</p></li>
                </ul>
            </div>
            <div class="lefttitZhong">
                <h4>可担保第三方交易平台</h4>
                <div>
                    <p> <span>淘宝网：</span>https://item.taobao.com=572646493428&ali_refid=a3_430584_1006:1124309737:N:YeizLO%2FCvRb0Ahw4Q2%2Bnuw%3D%3D:7eb4724ce3763300eed2cc78e5e2c81f&ali_trackid=1_7eb4724ce3763300eed2cc78e5e2c81f&spm=a219r.lm5704.14.1#detail</p>
                </div>
            </div>
        </div>
        <div class="qiuGouRight">
            <div class="qG1">
                <h4>公司简介</h4>
            </div>
            <div class="qG2">
                <div class="qG21">
                    <img src="__IND__/images/index_28.jpg" alt="">
                    <p>公司是以工程机械为主体的装备制造业，目前已全面进入工程机械制造领域。主导产品为混凝土机械、筑路机械、挖掘机械、起重机械、非开挖施工设备、港口机械、风电设备等全系列产品。其中混凝土机械、挖掘机械、桩工机械、履带起重机械为国内 ，混凝土泵车全面取代进口，且连续多年产销量居全球 ；挖掘机械一举打破外资品牌长期垄断的格局，实现国内市场占有率 位。 公司是国内大型的工程机械制造商。近年来，集团连续获评为中国企业500强、工程机械行业综合效益和竞争力最强企业、福布斯“中国 企业”、中国 成长 </p>
                    <p>致力于将产品升级换代至世界 水准。拥有 技术开发中心和博士后流动工作站。集团注重技术创新，建立了以 技术中心和工程机械研究院为核心的研发体系。公司坚持自主创新发展道路，在全球，业务覆盖达150个国家，产品出口到110多个国家和地区目前，公司已在多个国家相继投资建设工程机械研发制造基地。 公司始终以质量为本、技术 、 周到为企业宗旨【详情】</p>
                </div>
            </div>
        </div>
        <div class="qiuGouRight">
            <div class="qG1">
                <h4>产品中心</h4>
                <a href="#">更多>></a>
            </div>
            <div class="qG2">
                <div class="qG211">
                    <figure>
                        <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
                        <figcaption>辽宁台安县全面精准客观的专业煤矿用混凝土泵资讯信息-</figcaption>
                    </figure>
                    <figure>
                        <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
                        <figcaption>辽宁台安县全面精准客观的专业煤矿用混凝土泵资讯信息-</figcaption>
                    </figure>
                    <figure>
                        <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
                        <figcaption>辽宁台安县全面精准客观的专业煤矿用混凝土泵资讯信息-</figcaption>
                    </figure>
                    <figure>
                        <a href="#"><img src="__IND__/images/index_30.jpg" alt=""></a>
                        <figcaption>辽宁台安县全面精准客观的专业煤矿用混凝土泵资讯信息-</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="qiuGouRight">
            <div class="qG1">
                <h4>经营范围</h4>
            </div>
            <div class="qG2">
                <div class="qG21">
                    <p>电动葫芦  电动单量起重机  电动双梁起重机  桥式起重机  门式起重机  防爆电动葫芦  链条葫芦  手拉葫芦  手拉跑车  电动葫芦  电动单量起重机  电动双梁起重机  电动葫芦  电动单量起重机  电动双梁起重机  桥式起重机  门式起重机  防爆电动葫芦  链条葫芦  手拉葫芦  手拉跑车  电动葫芦  电动单量起重机  电动双梁起重机  电动葫芦  电动单量起重机电动葫芦  电动单量起重机  电动双梁起重机  桥式起重机  门式起重机  防爆电动葫芦  链条葫芦  手拉葫芦  手拉跑车  电动葫芦  电动单量起重机  电动双梁起重机  电动葫芦  电动单量起重机  电动双梁起重机  桥式起重机  门式起重机  防爆电动葫芦  链条葫芦  手拉葫芦  手拉跑车  电动葫芦  电动单量起重机  电动双梁起重机  电动葫芦  电动单量起重机</p>
                </div>
            </div>
        </div>
        <div class="qiuGouRight">
            <div class="qG1">
                <h4>企业咨询</h4>
                <a href="#">更多>></a>
            </div>
            <div class="qG2">
                <div class="qG212">
                    <figure>
                        <a href="#"><img src="__IND__/images/rongyu_03.png" alt=""></a>
                        <figcaption>特种设备制造许可</figcaption>
                    </figure>
                    <figure>
                        <a href="#"><img src="__IND__/images/rongyu_03.png" alt=""></a>
                        <figcaption>特种设备制造许可</figcaption>
                    </figure>
                    <figure>
                        <a href="#"><img src="__IND__/images/rongyu_03.png" alt=""></a>
                        <figcaption>特种设备制造许可</figcaption>
                    </figure>
                    <figure>
                        <a href="#"><img src="__IND__/images/rongyu_03.png" alt=""></a>
                        <figcaption>特种设备制造许可</figcaption>
                    </figure>
                    <figure>
                        <a href="#"><img src="__IND__/images/rongyu_03.png" alt=""></a>
                        <figcaption>特种设备制造许可</figcaption>
                    </figure>
                    <figure>
                        <a href="#"><img src="__IND__/images/rongyu_03.png" alt=""></a>
                        <figcaption>特种设备制造许可</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="qiuGouRight">
            <div class="qG1">
                <h4>工商信息</h4>
            </div>
            <div class="qG2">
                <div class="qG21">
                    <ul>
                        <li>公司名称：广州三泰机械工程有限公司</li>
                        <li>统一社会信用代码：410728878688X233</li>
                        <li>注册资本：300万元</li>
                        <li>成立日期：2017年9月18日</li>
                        <li>营业期限：2017年9月18日至2023年9月17日</li>
                        <li>法人代表：王万三三</li>
                        <li>营业场所：广东省广州市黄埔区开发大道8号黄埔五金机械城西区C4-40号</li>
                        <li>经营范围：建筑业</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="qiuGouRight">
            <div class="qG1">
                <h4>联系我们</h4>
            </div>
            <div class="qG2">
                <div class="qG21">
                    <div class="qG21-1">
                        <h4>河南公威机械设备有限公司</h4>
                        <p>联系人：<span>李经理</span>（销售部经理）</p>
                    </div>
                    <ul>
                        <li>电话：0373-888888</li>
                        <li>手机：15237449515</li>
                        <li>网址：http://127.0.0.1:8848/index.html</li>
                        <li>地址：新乡市新乡县振兴路/香港路（路口）（邮编：453731）</li>
                    </ul>
                    <div class="liwomen">
                        <div class="lxwm" id="lxwm">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mianze">
    <p><span>免责声明：</span>本页面展示的公司信息、产品信息、联系方式等相关信息均有对应的商家和会员自行发布，信息的真实性、合法性、准确性由所属会员完全负责，博帮网对此不承担任何保证责任。</p>
    <p><span>友情提示：</span>建议供需双方在履约前务必核实对方的履约能力以及产品质量，标注过低的价格有可能是虚假信息，请谨慎对待慎防欺诈行为</p>
</div>
<div class="tuwengg">
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>
    <figure>
        <a href=""><img src="__IND__/images/index_28.jpg" alt=""></a>
        <figcaption>
            <a href="">三泰工程建设</a>
        </figcaption>
    </figure>

</div>
{/block}
{block name="script"}
<script type="text/javascript">
    var map = new BMap.Map("lxwm");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(113.76348,34.728206), 20);  // 初始化地图,设置中心点坐标和地图级别
    map.addControl(new BMap.MapTypeControl({
        mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));
    map.enableScrollWheelZoom(true);
    var opts = {
        width : 300,     // 信息窗口宽度
        height: 100,     // 信息窗口高度
        title : "博邦网"  // 信息窗口标题
    }
    var infoWindow = new BMap.InfoWindow(" 创业大厦（兴华产业园二号楼）2层205号", opts);  // 创建信息窗口对象
    map.openInfoWindow(infoWindow, map.getCenter());
</script>

{/block}
