{extend name="public/usertop" /}
{block name="content"}
<div class="nav">
{include file='public/userlist'/}
    <div class="navright">
        <div class="navRightTop">
            <div class="navRightTop1">
                <img src="__IND__/images/admian_21.jpg" alt="">
                <div class="navRightTop1-1">
                    <p>{$user.user_name}</p>
                    <div>
                        <p>普通会员</p>
                        <span>立即认证商户>></span>
                    </div>
                    <p>积分：<sapn>0</sapn></p>
                </div>
            </div>
            <div class="navRightTop2">
                <ul>
                    <li><img src="__IND__/images/tuniao2_06.png" >好友</li>
                    <li><img src="__IND__/images/tuniao2_03.png" >收藏商家</li>
                    <li><img src="__IND__/images/admian_03.jpg" >收藏信息</li>
                    <li><img src="__IND__/images/tuniao2_10.png" >浏览足迹</li>
                </ul>
            </div>
            <div class="navRightTop3">
                <ul>
                    <li><img src="__IND__/images/admian_07.jpg" >奖励资金： ￥100</li>
                    <li><img src="__IND__/images/admian_09.jpg" >好友馈赠： ￥200 </li>
                    <li><img src="__IND__/images/admian_11.jpg" >账户余额： ￥6997.00 </li>
                    <li><img src="__IND__/images/admian_16.jpg" >积分总数： 300个</li>
                    <li><img src="__IND__/images/admian_17.jpg" >赠予好友： ￥300 </li>
                </ul>
            </div>
        </div>
        <div class="navRightcenter">
            <div class="navRightcenter1">
                <p>我的发布</p>
                <a href="{:url('user/release')}">查看更多>></a>
            </div>
            <div class="navRightcenter2">
                <img src="__IND__/images/huiyuanxixi_02.jpg" alt="">
                <div class="navRightcenter21">
                    <h3><a href="">承接跨海大桥、海底隧道、高速公路、机场建设</a></h3>
                    <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn  经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦....</p>
                    <span>发布时间：2019年3月12日</span>
                    <a href="#">编辑</a>
                    <a href="#">删除</a>
                </div>
            </div>
            <div class="navRightcenter2">
                <img src="__IND__/images/huiyuanxixi_02.jpg" alt="">
                <div class="navRightcenter21">
                    <h3><a href="">承接跨海大桥、海底隧道、高速公路、机场建设</a></h3>
                    <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn  经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦....</p>
                    <span>发布时间：2019年3月12日</span>
                    <a href="#">编辑</a>
                    <a href="#">删除</a>
                </div>
            </div>
        </div>
        <div class="navRightbotter">
            <div class="navRightcenter1 navRightbotter1">
                <p class="landing">我的关注</p>
                <p>我的足迹</p>
                <a href="#">查看更多>></a>
            </div>
            <div class="navRightcenter2">
                <img src="__IND__/images/huiyuanxixi_02.jpg" alt="">
                <div class="navRightcenter21">
                    <h3><a href="">承接跨海大桥、海底隧道、高速公路、机场建设</a></h3>
                    <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn  经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦....</p>
                    <span>发布方：广州三泰机械工程有限公司</span>
                </div>
            </div>
            <div class="navRightcenter2">
                <img src="__IND__/images/huiyuanxixi_02.jpg" alt="">
                <div class="navRightcenter21">
                    <h3><a href="">承接跨海大桥、海底隧道、高速公路、机场建设</a></h3>
                    <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn  经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦....</p>
                    <span>发布方：广州三泰机械工程有限公司</span>
                </div>
            </div>
        </div>

    </div>
</div>
{/block}