{extend name="public/usertop" /}
{block name="content"}
<div class="nav">
    {include file='public/userlist'/}
    <div class="navright">
        <div class="navRightbotter">
            <div class="navRightcenter1 navRightbotter1">
                <p>我的发布</p>
                <ul>
                    <li class="landi">有效</li>
                    <li>过期</li>
                    <li>违规</li>
                    <li>全部</li>
                </ul>
<!--                <a href="#">查看更多>></a>/-->
            </div>
            <div class="navRightcenter2">
                <img src="__IND__/images/huiyuanxixi_02.jpg" alt="">
                <div class="navRightcenter21">
                    <h3><a href="">承接跨海大桥、海底隧道、高速公路、机场建设</a></h3>
                    <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn  经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦....</p>
                    <span>发布时间：2019年3月12日</span>
                    <a href="#">编辑</a>
                    <a href="#">删除</a>
                </div>
            </div>
            <div class="navRightcenter2">
                <img src="__IND__/images/huiyuanxixi_02.jpg" alt="">
                <div class="navRightcenter21">
                    <h3><a href="">承接跨海大桥、海底隧道、高速公路、机场建设</a></h3>
                    <p>企业注册所在地:广东省广州市黄埔区，可服务范围:全国，热线电话:13903069498,网址:www.gzsantai.cn,第三方担保交易平台：www.taobao.com/santai.cn  经营范围:我公司承接电动单双梁桥式、门式起重机工程建筑，主要产品有:电动葫芦，防爆电动葫芦，电动葫芦....</p>
                    <span>发布时间：2019年3月12日</span>
                    <a href="#">编辑</a>
                    <a href="#">删除</a>
                </div>
            </div>
        </div>

    </div>
</div>
{/block}
