<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <!-- Fav  Icon Link -->
    <link rel="shortcut icon" type="image/png" href="__ADM__images/fav.png">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__ADM__css/bootstrap.min.css">
    <!-- themify icons CSS -->
    <link rel="stylesheet" href="__ADM__css/themify-icons.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="__ADM__css/styles.css">
    <link rel="stylesheet" href="__ADM__css/red.css" id="style_theme">
    <link rel="stylesheet" href="__ADM__css/responsive.css">

    <script src="__ADM__js/modernizr.min.js"></script>
</head>

<body class="auth-bg">
<!-- Pre Loader -->
<div class="loading">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--/Pre Loader -->
<!-- Color Changer -->
<!--<div class="theme-settings" id="switcher">-->
		<!--<span class="theme-click">-->
			<!--<img src="__ADM__images/color-pallete.png" alt="color pallete">-->
		<!--</span>-->
    <!--<span class="theme-color theme-default theme-active" data-color="green"></span>-->
    <!--<span class="theme-color theme-blue" data-color="blue"></span>-->
    <!--<span class="theme-color theme-red" data-color="red"></span>-->
    <!--<p>(Or) Your Color</p>-->
<!--</div>-->
<!-- /Color Changer -->
<div class="wrapper">
    <!-- Page Content -->
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 auth-box">
                    <div class="lorvens-box-shadow">
                        <!-- Page Title -->
                        <h3 class="widget-title">注册</h3>
                        <!-- /Page Title -->

                        <!-- Form -->
                        <form class="widget-form" method="post" action="{:url('/asave')}" >
<!--                            <div class="form-group row">-->
<!--                                <div class="col-sm-12">-->
<!--                                    <input type="text" placeholder="用户名" name="username" class="form-control" required="" data-validation="email" data-validation-has-keyup-event="true">-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input name="user" placeholder="用户名" class="form-control username" required="" data-validation="length alphanumeric" data-validation-length="3-12"
                                           data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)" data-validation-has-keyup-event="true">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="password" placeholder="密码" name="pass" class="form-control"  required="" data-validation="strength" data-validation-strength="2"
                                           data-validation-has-keyup-event="true">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="password" placeholder="确定密码" name="pass_confirmation"  required="" class="form-control" data-validation="strength"
                                           data-validation-strength="2" data-validation-has-keyup-event="true">
                                </div>
                            </div>
<!--                            <div class="form-check row">-->
<!--                                <div class="col-sm-12 text-left">-->
<!--                                    <div class="custom-control custom-checkbox">-->
<!--                                        <input class="custom-control-input" type="checkbox" id="ex-check-2">-->
<!--                                        <label class="custom-control-label" for="ex-check-2">I agree to Terms & Conditions</label>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <!-- Button -->
                            <div class="button-btn-block">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
                            </div>
                            <!-- /Button -->
                            <!-- Linsk -->
                            <div class="auth-footer-text">
                                <small>Alredy Sign Up,
                                    <a href="{:url('/alogin')}">Login</a> Here</small>
                            </div>
                            <!-- /Links -->
                        </form>
                        <!-- /Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</div>
<!-- Jquery Library-->
<script src="__ADM__js/jquery-3.2.1.min.js"></script>
<!-- Popper Library-->
<script src="__ADM__js/popper.min.js"></script>
<!-- Bootstrap Library-->
<script src="__ADM__js/bootstrap.min.js"></script>
<!-- Custom Script-->
<script src="__ADM__js/custom.js"></script>


</body>

</html>